.banner{
width: 1440;
height: 605;
angle: 0 deg;
opacity: 1;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
background-image: url(..//trilha-css-desafio-01/assets/images/banner.png);
background-image: -webkit-background-clip = text;
background-size: cover;
background-repeat: no-repeat;
width: 1440;
height: 732;
top: -127px;
angle: 0 deg;
opacity: 1;
} \\backgroundcontent gradiente\\ 
.bannercontent{
width: 510;
height: 393;
top: 56px;
left: 465px;
angle: 0 deg;
opacity: 1;
gap: 16px;
width: 326;
height: 57;
top: 473px;
left: 557px;
angle: 0 deg;
opacity: 1;
gap: 31px;
border-width: 2px;
padding-top: 19px;
padding-right: 91px;
padding-bottom: 19px;
padding-left: 91px;border: 2px solid;

border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);

width: 1060.000000000004;
height: 0px;
top: 669px;
left: 190px;
angle: 0 deg;
opacity: 1;
border-width: 1px;
border: 1px solid #33A8DB
}



